<br>
<br>
<br>
<div class="container d-flex  flex-column">
<b>Assginment 1.1</b>
<%= link_to 'has_many:through', page1_path ,class:"btn  btn-outline-success "%>
<b>Assginment 1.2</b>
<%= link_to 'has_and_belongs_to_many', page2_path ,class:"btn  btn-outline-success"%>
</div>