<br>
<br>
<div class="container d-flex  flex-column">
<b>Patient Teble</b>
<%= link_to 'Patients', patients_path,class:"btn btn-sm btn-outline-success "%>
<b>Physician Teble</b>
<%= link_to 'Physicians', physicians_path ,class:"btn btn-sm btn-outline-success"%>
<b>Appointment Teble</b>
<%= link_to 'Appointments', appointments_path ,class:"btn btn-sm btn-outline-success"%>
<br>
<%= link_to 'Back', root_path ,class:"btn btn-sm btn-outline-danger"%>
</div>