<br>
<br>
<div class="container d-flex  flex-column">
<b>Industry Teble</b>
<%= link_to 'Industry', industries_path,class:"btn btn-sm btn-outline-success "%>
<b>Sector Teble</b>
<%= link_to 'Sector', sectors_path ,class:"btn btn-sm btn-outline-success"%>
<br>
<br>
<%= link_to 'Back', root_path ,class:"btn btn-sm btn-outline-danger"%>

</div>